html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#m {
    z-index: 0;
}

#u {
    z-index: 1;
}
